<!-- layout.html -->
<html xmlns:th="http://www.thymeleaf.org" >

<head>
    <!-- Define the title tag -->
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Title</title>
    <link href="bootstrap/img/logo-min.png" rel="icon" sizes="16x16" type="image/png">


    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/bootstrap/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/style.css">



</head>

<body>


<section layout:fragment="header">

    <div class="header fixed-top" style="background-color: #585a64;">
        <a href="">
            <div class="logo">
                <img class="top-logo" src="/images/logo.png" width="160px" height="60px">
            </div>
        </a>
        <div class="User pull-right">
            <a class="profile-pic dropdown-toggle" style="text-decoration: none;" data-toggle="dropdown">
                <ul class="User-img">
                    <li>
                        <img alt="user-img" class="img-circle" src="adna.png" width="36"> <b class="username hidden-xs">  <span class="caret"></span> </b>
                    </li>
                </ul>
            </a>
            <ul class="dropdown-menu">
                <li><a href="admin.php?page=profile"><span><i class="fa fa-user"></i></span> <span> &nbsp Profile</span></a></li>
                <li><a href="#"><span><i class="fa fa-envelope"></i></span> <span> &nbsp boîte de réception</span></a></li>
                <li class="divider"></li>
                <li><a href="logout.php"><span><i class="fa fa-sign-out"></i></span> <span> &nbsp Se déconnecter</span></a></li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>



</section>

<section layout:fragment="side-nav">
    <div class="side-nav fixed-left">

        <nav>
            <ul>
                <li>
                    <span class="side-title"><h1> </h1></span>
                </li>
                <li >
                    <a th:href="'/dashboardAdmin/'+${admin.getId()}">
                        <span><i class="fa fa-tachometer"></i></span>
                        <span>Tableau de bord</span>
                    </a>
                </li>
                <li >
                    <a th:href="'/admin/managers/'+${admin.getId()}">
                        <span><i class="fa fa-users"></i></span>
                        <span>Managers</span>
                    </a>
                </li>
                <li >
                    <a th:href="'/admin/ajoutManager/'+${admin.getId()}">
                        <span><i class="fa fa-bar-chart"></i></span>
                        <span>Ajouter Manager</span>
                    </a>

                </li>

                <li >
                    <a href="#" data-toggle="collapse">
                        <span><i class="fa fa-bar-chart"></i></span>
                        <span>Se deconnecter</span>
                    </a>

                </li>


            </ul>
        </nav>
    </div>

</section>






<!-- Define a content section -->
<section layout:fragment="main-content">

</section>


<section layout:fragment="main">

    <section>
        <!-- Define a footer section -->
        <footer layout:fragment="footer">
            <p>Footer Section</p>
        </footer>
</body>

</html>